page-board {

    .content{
        background-image: url();
        background: linear-gradient(rgba(243, 176, 33, 0.603),rgba(44, 110, 148, 0.781)),url("https://images.unsplash.com/photo-1516298957360-a34f6af2d853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        display: flex;
    }
 .btn{
   margin-top: 100%;   
 }

   
}
