page-profile {
    @import url('https://fonts.googleapis.com/css?family=Righteous|Titillium+Web&display=swap');
    .container{

        display: flex;
        flex-direction: column;
        font-family: 'Titillium Web', sans-serif;
        background: linear-gradient(rgba(0, 29, 82, 0.603),rgba(24, 23, 21, 0.781));
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
    }

    .info{
        display: flex;
        height: 40%;

    }

    .info{
        display: flex;
        flex-direction: column;

        margin-left: 20px;
        margin-right: 20px;
      //  position: relative;
        bottom: 100px;
        border-radius: 20px;
        text-align: center;


    }
    #avatar{
        border-radius: 50%;
        width: 300px;
    }
    .line{
        box-shadow:  0px 1px ;
        font-family: 'Titillium Web', sans-serif;
        height: 20%;
        
    }
    .circle{
        height: 20px;
    }

    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background-color: #009ac9;
      }
      
      .flex-container>div {
        background-color: #f1f1f1;
        color: white;
        width: 100px;
        height: 100px;
        border-radius: 80px;
      }
      .see{
          font-size: 60px;
          color: #009ac9;
          text-align: center;
          justify-content: center;
          
      }
      .btn{
        font-family: 'Titillium Web', sans-serif;  
      }





}
