page-profile {
    @import url('https://fonts.googleapis.com/css?family=Righteous|Titillium+Web&display=swap');
    .container{

        display: flex;
        flex-direction: column;
        font-family: 'Titillium Web', sans-serif;
        background: linear-gradient(rgba(0, 29, 82, 0.603),rgba(24, 23, 21, 0.781));
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
    }

    .info{
        display: flex;
        height: 50%;

    }

    .info{
        display: flex;
        flex-direction: column;

        margin-left: 20px;
        margin-right: 20px;
      //  position: relative;
        bottom: 100px;
        border-radius: 20px;
        text-align: center;


    }
    #avatar{
        border-radius: 50%;
        width: 300px;
    }





}
