page-user-profile {



// .container{
//     height: 100%;
//     width: 100%;
//     background-color: rgb(255, 251, 251);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//  //   display: flex;

// }

//     a{
//         text-decoration: none;
//         color:#fff;

//     }


//     .card-wrapper{
//         display: flex;
//         align-items: center;
//         align-content: center;
//         flex-direction: column;
//     }
//     .card{
//       width: 32rem;
//       background-color: rgb(156, 109, 51);
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//        margin: 2rem 0 ;
//       box-shadow: .5rem .5rem 3rem rgba(22, 20, 20, 0.2);
//       color: white;

//     }
//     .card .card-img{
//         width: 100%;
//         height: 30rem;
//         background-color:  rgb(212, 136, 21);
//         -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
// clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);

//     }
    // .profile-img{
    //     width: 15rem;
    //     height: 15rem;
    //     object-fit: cover;
    //     border-radius: 50%;
    //     margin-top: -11rem;
    //     z-index: 999;
    //     border: 1px solid #ebeef8;

    // }





    .container{
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #f5f5f5;
      height: 100%;
  }
  .logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 250px;
      background-color: rgb(91, 182, 235);
  }
  .image{
      height: 150px;
      width: 150px;
      border-radius: 90px;
      background-color: white;
      margin: auto;
  }
  .btn{
      height: 40px;
      width: 60%;
      background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
      color: white;
      border-radius: 60px;
      border: 2px solid white;
      font-size: 20px;
  }
  .Button{
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 20px;
  }
  .detailsOne{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .details{
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 85%;
      margin: auto;
  }
  .detail1{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 85%;
    margin: auto;
    margin-top: -10%;
    height: 10%;
}
  .d1{
      display: flex;
      margin-top: 20px;
     // border-bottom: 2px solid gray;
      text-align: center;
      width: 100%;
      height: 20px;
  }
  .bookings{
    width: 100%;
    height: 13vh;
    background-color: rgb(245, 186, 186);
    overflow: auto;
    display: flex
  }
  h2{
    font-size: 15px;
    text-align: center;
  }
//   .input{
//     // background-color: red;
//   }
.icon{
  margin-right: 20px;
}
ion-input{
border-bottom: 1px solid gray;
}
.btn2{
  margin: auto;
  height: 40px;
  width: 60%;
  background-image: linear-gradient(to right, rgb(91, 182, 235) , rgb(113, 227, 235));
  color: white;
  border-radius: 60px;
  border: 2px solid white;
  font-size: 20px;
}
  .flex-container2{
        //background-color: rgb(201, 134, 134);
        display: flex;
        align-items: stretch;
        //height: 50vh;
        margin: auto;
       // width: 90%;
    //border: 3px solid #73AD21;
        flex-direction: column;
        margin-top: auto;

      }

      .flex-container2> div{
        background-color: rgb(230, 230, 230);
        color: rgb(0, 0, 0);
        //width: 200px;
       // height: 5%;
        margin: 5px 0px 0px 0px;
       //margin: auto;
        line-height: 20px;
        font-size: 13px;
        flex: 1;
       padding: 10px;

      }
}




