<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>


  <!-- <div *ngFor="let p of profile;">
    <span>{{p.Room}}</span>
    <span>R {{p.Price}}</span>
  </div>

  <div *ngFor="let se of user;">
      <img src="{{se.Profile_pic}}" height="100" width="100" style="border-radius: 50%"><BR>
    <span>{{se.Fullname}}</span>
    <span>{{se.Cellphone}}</span>
    <span>{{se.Bio}}</span>
    <span>{{p.Room}}</span>
    <span>R {{p.Price}}</span>
   
  </div>
  <button ion-button (click)="home()">Done</button> -->

 <div class="container">
   <div class="card-wrapper">
     <div class="card"  *ngFor="let se of user;">
        <img src="https://images.unsplash.com/photo-1427694012323-fb5e8b0c165b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1366&q=80" alt="card background" class="card-img">
        <img src="{{se.Profile_pic}}" alt="profile image" class="profile-img">
        <h1>{{se.Fullname}}</h1>
        <p class="job-title"><strong>{{se.Cellphone}}</strong></p>
        <p class="job-title"><strong>{{se.Bio}}</strong></p>
        <div *ngFor="let p of profile;">
            <p class="job-title"><strong>{{p.Room}}</strong></p>
            <p class="job-title"><strong>R {{p.Price}}</strong></p>
          </div>
         <button ion-button (click)="home()">Done</button> 
       </div>


     </div>


 </div>
</ion-content>
