page-home {
    @import url('https://fonts.googleapis.com/css?family=Righteous|Titillium+Web&display=swap');

  .parent{

    padding: 8px;
    width: 100%;
  }
  .child{
     
      padding: 1px;
      color:  #004280;
  }
  .box{
      background-color:#004280;
      padding: 10px;
    ;
      text-align: center;
      position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 50px;
  }
  .ion-fab{
    float: right;
  }
    
 
  

  
    .person{
        font-size: 30px;
    }
    h2{
        color:rgb(255, 254, 254);
    }
    h1{
        color: #004280;
        font-family: 'Titillium Web', sans-serif;
    }
    .coffee{
        color : rgb(82, 82, 82);
    }
    .icon{
        float: left;
    }
    .tv{
        color : rgb(82, 82, 82);
    }
    .useer{
        color : rgb(82, 82, 82);
    }

   
    .box2{
        background-color:rgb(255, 253, 253);
        height: 400px;
        .box1{
            background-color: #e68f17;
            padding: 30px;
            width: 170px;
            z-index: 3;
            position: relative;
            bottom: 90px;
            color:white;
            border-radius: 5px;
            font-family: 'Titillium Web', sans-serif;
            
        }
     
    }
    
    

}
