<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/logo1.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-content>

  <div class="header">
      <div class="box" *ngFor="let us of user">   
          <button ion-fab (click)="profile()"> <img src="{{us.Profile_pic}}" ></button>
</div>
  </div>
  <br>
  <div class="container">
    

<div class="One" *ngFor="let item of rooms">


     <div class="One2">
      <H2>R{{item.Price}}</H2> 
      <p>{{item.Location}}</p>  
      
      <button ion-button round (click)="viewRoom($event, item.key)" > VIEW</button>  

  
      </div> 
  <div class="One1">
      <img src="{{item.Pic}}"   class="mm" >

<div class="parent">
  <div class="child" >

    <div class="box" *ngFor="let us of user">
                <button ion-fab (click)="profile()"> <img src="{{us.Profile_pic}}" style="border-radius: 30%"></button>
    </div>
  </div>

</div>

   
    
  </div>
</div>
<br>
</div>





    





  
</ion-content>
