<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/logo1.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-header>
  <h3>Welcome</h3>
  <ion-navbar color="dark">
    <div class="box" *ngFor="let us of user">
      <button ion-fab (click)="profile()"> <img src="{{us.Profile_pic}}" ></button>
</div>
    </ion-navbar>
</ion-header>
<ion-content>

  <div class="container">


<div class="One" *ngFor="let item of rooms">

    <div class="One2">
      <p><strong>R{{item.Price}}.00</strong></p>
      <p><strong>{{item.Location}}</strong></p>     <button ion-button round (click)="viewRoom($event, item.key)" > VIEW</button>


      </div>
  <div class="One1">
      <img src="{{item.Pic}}" style="border-radius: 10px" >

<!-- <div class="parent">
  <div class="child" >

    <div class="box" *ngFor="let us of user">
                <button ion-fab (click)="profile()"> <img src="{{us.Profile_pic}}" style="border-radius: 30%"></button>
    </div>
  </div>

</div> -->



  </div>
</div>
<br>
</div>



    <!-- <h1>Home</h1>
    <div class="box" *ngFor="let us of user">
                <button ion-fab (click)="profile()"> <img src="{{us.Profile_pic}}" style="border-radius: 30%"></button>
    </div> -->


      <!-- <ion-list > -->
<!--

          <ion-item *ngFor="let item of rooms">


              <div class="box2">
                  <img src="{{item.Pic}}" height="150" width="200" style="border-radius: 1%">

                <div class="box1">
                    <h3><strong>{{ item.Room_name }}</strong></h3>

                    <h3><strong>R {{ item.Price }} p.m</strong></h3>
                   <!-- <button ion-button (click)="viewRoom($event, item.key)" full> VIEW</button> -->
                <!-- </div>

                </div> -->

            <!-- <h1> {{ item.Hotelname }}</h1> -->

<!--
             <button ion-button (click)="viewRoom($event, item.key)" full>VIEW</button>  -->
          <!-- </ion-item>
      </ion-list> -->

<!--
<ion-fab right bottom >
    <button ion-fab mini>
        <button ion-fab (click)="profile()">  <ion-icon ios="ios-contact" md="md-contact"></ion-icon></button>
    </button>
  </ion-fab> -->


 <!-- <div class="container">

    <div class="card-wrapper">
      <div class="card"  *ngFor="let se of user;">
         <img src="https://images.unsplash.com/photo-1427694012323-fb5e8b0c165b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1366&q=80" alt="card background" class="card-img">
         <img src="{{se.Profile_pic}}" alt="profile image" class="profile-img">
         <h1>{{se.Fullname}}</h1>
         <p class="job-title"><strong>{{se.Cellphone}}</strong></p>
         <p class="job-title"><strong>{{se.Bio}}</strong></p>
      </div>
      <button ion-button (click)="home()" full>Done</button>
    </div>
  </div> -->



</ion-content>
