<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/icon.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-content>

  <div class="container">

      <div class="top"></div>
      <form [formGroup]="loginForm" >
      <div class="box">
          <div><img src="../../assets/imgs/icon.png" width="200" height="200"> </div>
        <h1><strong>LOGIN</strong></h1>
        <ion-list>

          <ion-item class="email">
            <ion-input   [(ngModel)]="email" formControlName="email" type="email"  [class.invalid]="!loginForm.controls['email'].valid &&
            loginForm.controls['email'].touched" placeholder="email"></ion-input>
          </ion-item>
          <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!loginForm.controls['email'].valid &&
                  loginForm.controls['email'].touched">
                 <p style="color: red">Please enter a valid email address.</p>
               </ion-item>
        <br>
          <ion-item class="email">
            <ion-input type="password" [(ngModel)]="password" formControlName="password"  [class.invalid]="!loginForm.controls['email'].valid &&
            loginForm.controls['email'].touched"  placeholder="Password"></ion-input>
          </ion-item>
          <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!loginForm.controls['password'].valid &&
          loginForm.controls['password'].touched">
         <p style="color: red">Password is required</p>
       </ion-item>
        </ion-list>

        <button class="signin" type="submit" round [disabled]="!loginForm.valid" (click)="Login()" ion-button full> Sign in <ion-icon ios="ios-navigate" lg="lg-navigate" large></ion-icon></button>
        <button class="signin" (click)="register()" round ion-button full> Create account <ion-icon ios="ios-navigate" lg="lg-navigate" large></ion-icon></button>
          </div>
          </form>
          </div>




    </ion-content>
