<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <h3>Please select card option</h3>
  <!-- <ion-item>
  <ion-label fixed>Card holder</ion-label>
  <ion-input type="text" [(ngModel)]="holder" value=""></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Card number</ion-label>
  <ion-input type="text" [(ngModel)]="cardno" value=""></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>CVV</ion-label>
  <ion-input type="text" [(ngModel)]="cvv" value=""></ion-input>
</ion-item>

<button ion-button (click)="submit()" full>Submit</button>  -->
<div>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        VISA
      </ion-segment-button>
      <ion-segment-button value="puppies">
        MasterCard
      </ion-segment-button>
      <ion-segment-button value="dogs">
          American Express
        </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://banner2.kisspng.com/20180425/see/kisspng-credit-card-logo-encapsulated-postscript-visa-epsvector-5ae014bbdedd32.0602433715246348119129.jpg">
        </ion-thumbnail>
        <h2>VISA</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'puppies'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="http://aux2.iconspalace.com/uploads/master-card-payment-icon-256.png">
          </ion-thumbnail>
          <h2>MasterCard</h2>
        </ion-item>
      </ion-list>
    <ion-list *ngSwitchCase="'dogs'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMIgWlTOEU-QpkC70SwmafIaLDBCwd2BjgjfxoIYUizFITY-Ks">
          </ion-thumbnail>
          <h2>American Express</h2>
        </ion-item>
      </ion-list>
  </div>

  <form [formGroup]="payForm" >


    <ion-item>
        <ion-label fixed>Card holder</ion-label>
        <ion-input type="text" [(ngModel)]="holder" formControlName="holder"  [class.invalid]="!payForm.controls['holder'].valid &&
        payForm.controls['holder'].touched"  placeholder="Card holder"></ion-input>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['holder'].valid &&
      payForm.controls['holder'].touched">
     <p style="color: red">Card holder is required</p>
   </ion-item>

      <ion-item>
          <ion-label fixed>Card number</ion-label>
          <ion-input type="text" [(ngModel)]="cardno" formControlName="cardnumber"  [class.invalid]="!payForm.controls['cardnumber'].valid &&
          payForm.controls['cardnumber'].touched"  placeholder="Card number"></ion-input>
        </ion-item>
        <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['cardnumber'].valid &&
        payForm.controls['cardnumber'].touched">
       <p style="color: red">Card number is required</p>
     </ion-item>


     <ion-item>
        <ion-label fixed>CVV</ion-label>
        <ion-input type="text" [(ngModel)]="cvv" formControlName="cvv"  [class.invalid]="!payForm.controls['cvv'].valid &&
        payForm.controls['cvv'].touched"  placeholder="CVV"></ion-input>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['cvv'].valid &&
      payForm.controls['cvv'].touched">
     <p style="color: red">CVV is required</p>
   </ion-item>

    <ion-item>
        <ion-label fixed>Expiry date</ion-label>
        <ion-datetime displayFormat="MMM/YYYY" min="2019-09" max="2030" formControlName="expdate"  [class.invalid]="!payForm.controls['expdate'].valid &&
        payForm.controls['expdate'].touched" [(ngModel)]="exp_date"></ion-datetime>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['expdate'].valid &&
      payForm.controls['expdate'].touched">
     <p style="color: red">CVV is required</p>
   </ion-item>
    <button ion-button [disabled]="!payForm.valid" (click)="submit()" full>Submit</button>
    </form>
</ion-content>
