page-payment {
    @import url('https://fonts.googleapis.com/css?family=Righteous|Titillium+Web&display=swap');
    .container{

        display: flex;
        flex-direction: column;
        font-family: 'Titillium Web', sans-serif;
}
}
