<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title  >
      <!-- <p style="color: white">Employees</p> -->
    </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

  <h3>Please select card option</h3>
  <br>
  <!-- <ion-item>
  <ion-label fixed>Card holder</ion-label>
  <ion-input type="text" [(ngModel)]="holder" value=""></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>Card number</ion-label>
  <ion-input type="text" [(ngModel)]="cardno" value=""></ion-input>
</ion-item>
<ion-item>
  <ion-label fixed>CVV</ion-label>
  <ion-input type="text" [(ngModel)]="cvv" value=""></ion-input>
</ion-item>

<button ion-button (click)="submit()" full>Submit</button>  -->
<div>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        VISA
      </ion-segment-button>
      <ion-segment-button value="puppies">
        MasterCard
      </ion-segment-button>
      <ion-segment-button value="dogs">
          American Express
        </ion-segment-button>
    </ion-segment>
  </div>
  <br>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
         <h1>VISA</h1>
        <ion-thumbnail item-start>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzd_zPcsSOUfrt_YKxpUi69pO1z5x-l4xE--37-txxfiAyk4ja" >
        </ion-thumbnail>
       
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'puppies'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjhqgtLWbj1IWkIcapAduE_y3CwiWkaZHFBrsAXIGU0jQ0ADEE" class="big">
          </ion-thumbnail>
          <h1>MasterCard</h1>
        </ion-item>
      </ion-list>
    <ion-list *ngSwitchCase="'dogs'">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMIgWlTOEU-QpkC70SwmafIaLDBCwd2BjgjfxoIYUizFITY-Ks" class="big">
          </ion-thumbnail>
          <h1>American Express</h1>
        </ion-item>
      </ion-list>
  </div>

  <form [formGroup]="payForm" >


    <ion-item>
        <ion-label fixed class="cool">Card holder</ion-label>
        <ion-input type="text" [(ngModel)]="holder" formControlName="holder"  [class.invalid]="!payForm.controls['holder'].valid &&
        payForm.controls['holder'].touched" ></ion-input>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['holder'].valid &&
      payForm.controls['holder'].touched">
     <p style="color: red">Card holder is required</p>
   </ion-item>
<br>
      <ion-item>
          <ion-label fixed class="cool">Card number</ion-label>
          <ion-input type="text" [(ngModel)]="cardno" formControlName="cardnumber"  [class.invalid]="!payForm.controls['cardnumber'].valid &&
          payForm.controls['cardnumber'].touched"  ></ion-input>
        </ion-item>
        <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['cardnumber'].valid &&
        payForm.controls['cardnumber'].touched">
       <p style="color: red">Card number is required</p>
     </ion-item>

<br>
     <ion-item>
        <ion-label fixed class="cool">CVV</ion-label>
        <ion-input type="text" [(ngModel)]="cvv" formControlName="cvv"  [class.invalid]="!payForm.controls['cvv'].valid &&
        payForm.controls['cvv'].touched" ></ion-input>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['cvv'].valid &&
      payForm.controls['cvv'].touched">
     <p style="color: red">CVV is required</p>
   </ion-item>
<br>
    <ion-item>
        <ion-label fixed class="cool">Expiry date</ion-label>
        <ion-datetime displayFormat="MMM/YYYY" min="2019-09" max="2030" formControlName="expdate"  [class.invalid]="!payForm.controls['expdate'].valid &&
        payForm.controls['expdate'].touched" [(ngModel)]="exp_date"></ion-datetime>
      </ion-item>
      <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['expdate'].valid &&
      payForm.controls['expdate'].touched">
     <p style="color: red">CVV is required</p>
   </ion-item>
   <br>
    <button ion-button round style="width: 40%; margin: auto; margin-top: 10%" [disabled]="!payForm.valid" (click)="submit()" full>SUBMIT</button>

    
    </form>
</ion-content>
