page-account {

    .content{
        font-family: 10px;
        font-family: "Roboto",sans-serif;
        background-color: rgb(255, 217, 160);
       
        color: white;

    }

    a{
        text-decoration: none;
        color:#fff;

    }
  

    .card-wrapper{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }
    .card{
      width: 32rem;
      background-color: rgb(156, 109, 51);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
       margin: 2rem 0 ;
      box-shadow: .5rem .5rem 3rem rgba(22, 20, 20, 0.2);
      color: white;

    }
    .card .card-img{
        width: 100%;
        height: 30rem;
        background-color:  rgb(212, 136, 21);
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);

    }
    .profile-img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 50%;
        margin-top: -11rem;
        z-index: 999;
        border: 1px solid #ebeef8;

    }

}
