<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primary" >
        <ion-navbar >

        </ion-navbar>
    </ion-toolbar>
    <!-- <ion-navbar class="head">
      <ion-title  >
         <p style="color: white">Employees</p>
      </ion-title>
      </ion-navbar> -->
  </ion-header>

<ion-content padding >
  <!-- <ion-list>

    <ion-item>
      <ion-label fixed>Check in</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" max="2050-10-31" [(ngModel)]="date_in"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Check out</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" max="2050-10-31" [(ngModel)]="date_out"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>No: People</ion-label>
      <ion-input type="number" [(ngModel)]="people" value=""></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>No: Rooms</ion-label>
        <ion-input type="number" [(ngModel)]="rooms" value=""></ion-input>
      </ion-item>
    <button ion-button (click)="gotoPay()" full>PAY</button>
    </ion-list> -->

    <div class="container">
        <form [formGroup]="payForm" *ngFor="let item of room">
        <div class="One" >

            <img src="{{item.Pic}}">

        </div>


        <div class="flex">
          <ion-item>
            <ion-label float>Check in</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" min="2019-08-15" max="2050-10-31" [(ngModel)]="date_in" formControlName="indate"  [class.invalid]="!payForm.controls['indate'].valid &&
            payForm.controls['indate'].touched" [(ngModel)]="exp_date"></ion-datetime>
          </ion-item>
          <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['indate'].valid &&
          payForm.controls['indate'].touched">
         <p style="color: red">CVV is required</p>
       </ion-item>
          <ion-item>
            <ion-label float>Check out</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" min="2019-08-16" max="2050-10-31" [(ngModel)]="date_out" formControlName="outdate"  [class.invalid]="!payForm.controls['outdate'].valid &&
            payForm.controls['outdate'].touched"></ion-datetime>
            <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['outdate'].valid &&
            payForm.controls['outdate'].touched">
           <p style="color: red">CVV is required</p>
         </ion-item>
          </ion-item>


          </div>


                   <div>  <ion-item>
              <ion-label  class="cool">Children</ion-label>
              <ion-select [(ngModel)]="child" formControlName="kids"  [class.invalid]="!payForm.controls['kids'].valid &&
              payForm.controls['kids'].touched">
                <ion-option value="1">1</ion-option>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="5">5</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['kids'].valid &&
            payForm.controls['kids'].touched">
           <p style="color: red">CVV is required</p>
         </ion-item>
        </div>


              <div>  <ion-item>
                <ion-label  class="cool">Adults</ion-label>
                <ion-select [(ngModel)]="adult" formControlName="adult"  [class.invalid]="!payForm.controls['adult'].valid &&
                payForm.controls['adult'].touched">
                  <ion-option value="1">1</ion-option>
                  <ion-option value="2">2</ion-option>
                  <ion-option value="3">3</ion-option>
                  <ion-option value="4">4</ion-option>
                  <ion-option value="5">5</ion-option>
                </ion-select>
              </ion-item>
              <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['adult'].valid &&
            payForm.controls['adult'].touched">
           <p style="color: red">CVV is required</p>
         </ion-item>
        </div>



            <ion-item>
              <ion-label class="cool">Rooms</ion-label>
              <ion-select [(ngModel)]="rooms" formControlName="rooms"  [class.invalid]="!payForm.controls['rooms'].valid &&
              payForm.controls['rooms'].touched">
                <ion-option value="1">1</ion-option>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="5">5</ion-option>
              </ion-select>
            </ion-item>
            <ion-item no-lines style="background: transparent" class="error-message" *ngIf="!payForm.controls['rooms'].valid &&
            payForm.controls['rooms'].touched">
           <p style="color: red">CVV is required</p>
         </ion-item>
        <button [disabled]="!payForm.valid" ion-button round style="width: 40%; margin: auto; margin-top: 10%" (click)="dateV(item.key)" full>PAY</button>
</form>
          </div>









</ion-content>
